<button 
  (click)="collapsed.emit()" 
  class="border border-black p-2 m-2 bg-[rgb(240,240,240)]">
  Sidebar
</button>

<ul class="flex flex-col gap-4">
  @for(item of navItems; track item.label){
  <li>
    <a 
      [routerLink]="item.route" 
      routerLinkActive="bg-[rgb(255,212,0)] text-black font-bold" 
      class="block w-full p-3 border border-black text-center">
      {{item.label}}
    </a>
  </li>
  }
  
  @empty {
  <li class="p-4 border border-dashed border-gray-400 text-center text-gray-500 italic">
    Menu di navigazione vuoto!
  </li>
  }
</ul>